.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 55px;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
    
    background-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(230, 230, 230);  
}

.sidebar-link {
    height: 74px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235, 233, 233);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-size: 10px;
}